<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Watan</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="/img/logo.png" rel="icon">
  <link href="/img/logo.png" rel="apple-touch-icon">

  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <link href="/css/vendor/aos/aos.css" rel="stylesheet">
  <link href="/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/css/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/css/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/css/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <link href="/css/index.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top  header-transparent ">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="/">WATAN</a></h1>
        <!-- <a href="/"><img src="/img/logo.png" alt="" class="img-fluid"></a> -->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#features">App Features</a></li>
          <li><a class="nav-link scrollto" href="#gallery">Gallery</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="#features">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div
          class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1"
          data-aos="fade-up">
          <div>
            <div>
              <img src="/img/logo.png" class="img-fluid" style="max-width: 200px;" alt="logo">
            </div>
            <h1>Welcome to Watan</h1>
            <h2>Discover a world of convenience and savings, The perfect companion to achieve your financial and
              marketing goals</h2>
            <a href="#" class="download-btn"><i class="bx bxl-play-store"></i> Google Play</a>
            <a href="#" class="download-btn"><i class="bx bxl-apple"></i> App Store</a>
          </div>
        </div>
        <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img"
          data-aos="fade-up">
          <img src="/img/hero-img.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section>
  <!-- End Hero -->

  <main id="main">

    <!-- ======= App Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="section-title">
          <h2>App Features</h2>
        </div>

        <div class="row no-gutters">
          <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
            <div class="content d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 icon-box" data-aos="fade-up">
                  <i class="bx bx-receipt"></i>
                  <h4>With Watan</h4>
                  <p>You can enjoy huge discounts on a variety of products and services, from restaurants and shops to
                    entertainment, travel and transportation.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-cube-alt"></i>
                  <h4>Huge Discounts</h4>
                  <p>Benefit from huge discounts of up to 70% on a wide range of luxurious and exciting goods and
                    services.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="bx bx-images"></i>
                  <h4>Travel and leisure</h4>
                  <p>
                    Step up to unforgettable adventures with great savings on flights and luxury accommodations. Enjoy
                    unique entertainment experiences and fun events, without breaking your budget.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2"
            data-aos="fade-left" data-aos-delay="100">
            <img src="/img/features.svg" class="img-fluid" alt="">
          </div>
        </div>

      </div>
    </section>
    <!-- End App Features Section -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Gallery</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
            consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
            in iste officiis commodi quidem hic quas.</p>
        </div>

      </div>

      <div class="container-fluid" data-aos="fade-up">
        <div class="gallery-slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><a href="/img/gallery/gallery-1.png" class="gallery-lightbox"
                data-gall="gallery-carousel"><img src="/img/gallery/gallery-1.png" class="img-fluid" alt=""></a>
            </div>
            <div class="swiper-slide"><a href="/img/gallery/gallery-2.png" class="gallery-lightbox"
                data-gall="gallery-carousel"><img src="/img/gallery/gallery-2.png" class="img-fluid" alt=""></a>
            </div>
            <div class="swiper-slide"><a href="/img/gallery/gallery-3.png" class="gallery-lightbox"
                data-gall="gallery-carousel"><img src="/img/gallery/gallery-3.png" class="img-fluid" alt=""></a>
            </div>
            <div class="swiper-slide"><a href="/img/gallery/gallery-4.png" class="gallery-lightbox"
                data-gall="gallery-carousel"><img src="/img/gallery/gallery-4.png" class="img-fluid" alt=""></a>
            </div>
            <div class="swiper-slide"><a href="/img/gallery/gallery-5.png" class="gallery-lightbox"
                data-gall="gallery-carousel"><img src="/img/gallery/gallery-5.png" class="img-fluid" alt=""></a>
            </div>
            <div class="swiper-slide"><a href="/img/gallery/gallery-6.png" class="gallery-lightbox"
                data-gall="gallery-carousel"><img src="/img/gallery/gallery-6.png" class="img-fluid" alt=""></a>
            </div>
            <div class="swiper-slide"><a href="/img/gallery/gallery-7.png" class="gallery-lightbox"
                data-gall="gallery-carousel"><img src="/img/gallery/gallery-7.png" class="img-fluid" alt=""></a>
            </div>
            <div class="swiper-slide"><a href="/img/gallery/gallery-8.png" class="gallery-lightbox"
                data-gall="gallery-carousel"><img src="/img/gallery/gallery-8.png" class="img-fluid" alt=""></a>
            </div>
            <div class="swiper-slide"><a href="/img/gallery/gallery-9.png" class="gallery-lightbox"
                data-gall="gallery-carousel"><img src="/img/gallery/gallery-9.png" class="img-fluid" alt=""></a>
            </div>
            <div class="swiper-slide"><a href="/img/gallery/gallery-10.png" class="gallery-lightbox"
                data-gall="gallery-carousel"><img src="/img/gallery/gallery-10.png" class="img-fluid" alt=""></a>
            </div>
            <div class="swiper-slide"><a href="/img/gallery/gallery-11.png" class="gallery-lightbox"
                data-gall="gallery-carousel"><img src="/img/gallery/gallery-11.png" class="img-fluid" alt=""></a>
            </div>
            <div class="swiper-slide"><a href="/img/gallery/gallery-12.png" class="gallery-lightbox"
                data-gall="gallery-carousel"><img src="/img/gallery/gallery-12.png" class="img-fluid" alt=""></a>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section>
    <!-- End Gallery Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-6 info">
                <i class="bx bx-map"></i>
                <h4>Address</h4>
                <p>Abu Bakr Ahmed Obaid Bin Touq Al Marri Building<br>
                  Deira Naif Area<br>
                  Office No. A 5-406, UAE<br></p>
              </div>
              <div class="col-lg-6 info">
                <i class="bx bx-phone"></i>
                <h4>Call Us</h4>
                <p>+971 (0) 058 158 7300<br>+964 (0) 751 796 0618</p>
              </div>
              <div class="col-lg-6 info">
                <i class="bx bx-envelope"></i>
                <h4>Email Us</h4>
                <p>contact@watan.dev<br>info@watan.dev</p>
              </div>
              <div class="col-lg-6 info">
                <i class="bx bx-time-five"></i>
                <h4>Working Hours</h4>
                <p>Mon - Fri: 9AM to 5PM<br>Sunday: 9AM to 1PM</p>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form" data-aos="fade-up">
              <div class="form-group">
                <input placeholder="Your Name" type="text" name="name" class="form-control" id="name" required>
              </div>
              <div class="form-group mt-3">
                <input placeholder="Your Email" type="email" class="form-control" name="email" id="email" required>
              </div>
              <div class="form-group mt-3">
                <input placeholder="Subject" type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea placeholder="Message" class="form-control" name="message" rows="5" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section>
    <!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Join Our Newsletter</h4>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>WATAN</h3>
            <p>
              Abu Bakr Ahmed Obaid Bin Touq Al Marri Building<br>
              Deira Naif Area<br>
              Office No. A 5-406, UAE<br><br>
              <strong>Phone:</strong> +971 (0) 058 158 7300<br>
              <strong>Email:</strong> info@watan.dev<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/conditions">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/privacy">Privacy policy</a></li>
            </ul>

          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Restaurants</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Medical Center</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Transportation & travel</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Commercial Store</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Money Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Gas Stations</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Online stores</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Maintenance Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Installments</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Living</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Entertainment</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Watan</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/css/vendor/aos/aos.js"></script>
  <script src="/css/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/css/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/css/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/css/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>

</body>

</html>